[Translation]
File=QtopiaSettings
Context=eer
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=eer
Icon=eer
Type=Application
Name[]=My Eer
CanFastload=0